.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid black;
}

.navbar a {
    align-items: bottom;
}
body {
  padding-bottom: 70px;
}

.title {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-top: 10px;
}